<div id="<%= dom_id usuario_intranet %>">
  <p>
    <strong>Id usuario:</strong>
    <%= usuario_intranet.id_usuario %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= usuario_intranet.nombre %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= usuario_intranet.email %>
  </p>

</div>
