<% content_for :title, "Editing usuario intranet" %>

<h1>Editing usuario intranet</h1>

<%= render "form", usuario_intranet: @usuario_intranet %>

<br>

<div>
  <%= link_to "Show this usuario intranet", @usuario_intranet %> |
  <%= link_to "Back to usuario intranets", usuario_intranets_path %>
</div>
