<% content_for :title, "New usuario intranet" %>

<h1>New usuario intranet</h1>

<%= render "form", usuario_intranet: @usuario_intranet %>

<br>

<div>
  <%= link_to "Back to usuario intranets", usuario_intranets_path %>
</div>
