<div id="<%= dom_id detalle_pedido %>">
  <p>
    <strong>Id detalle:</strong>
    <%= detalle_pedido.id_detalle %>
  </p>

  <p>
    <strong>Id pedido:</strong>
    <%= detalle_pedido.id_pedido %>
  </p>

  <p>
    <strong>Id producto:</strong>
    <%= detalle_pedido.id_producto %>
  </p>

</div>
