<% content_for :title, "Editing detalle pedido" %>

<h1>Editing detalle pedido</h1>

<%= render "form", detalle_pedido: @detalle_pedido %>

<br>

<div>
  <%= link_to "Show this detalle pedido", @detalle_pedido %> |
  <%= link_to "Back to detalle pedidos", detalle_pedidos_path %>
</div>
