<% content_for :title, "New detalle pedido" %>

<h1>New detalle pedido</h1>

<%= render "form", detalle_pedido: @detalle_pedido %>

<br>

<div>
  <%= link_to "Back to detalle pedidos", detalle_pedidos_path %>
</div>
