<div id="<%= dom_id ofertum %>">
  <p>
    <strong>Id oferta:</strong>
    <%= ofertum.id_oferta %>
  </p>

  <p>
    <strong>Id producto:</strong>
    <%= ofertum.id_producto %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= ofertum.fecha %>
  </p>

</div>
